In [1]:
import pandas as pd

In [4]:
#Loading The Dataset
df = pd.read_csv("Amazon Sale Report.csv")

In [5]:
df.head()

,index,Order ID,Date,Status,Fulfilment,Sales Channel,ship-service-level,Category,Size,Courier Status,...,currency,Amount,ship-city,ship-state,ship-postal-code,ship-country,B2B,fulfilled-by,New,PendingS
0,0,405-8078784-5731545,04-30-22,Cancelled,Merchant,Amazon.in,Standard,T-shirt,S,On the Way,...,INR,647.62,MUMBAI,MAHARASHTRA,400081.0,IN,False,Easy Ship,NaN,NaN
1,1,171-9198151-1101146,04-30-22,Shipped - Delivered to Buyer,Merchant,Amazon.in,Standard,Shirt,3XL,Shipped,...,INR,406.00,BENGALURU,KARNATAKA,560085.0,IN,False,Easy Ship,NaN,NaN
2,2,404-0687676-7273146,04-30-22,Shipped,Amazon,Amazon.in,Expedited,Shirt,XL,Shipped,...,INR,329.00,NAVI MUMBAI,MAHARASHTRA,410210.0,IN,True,NaN,NaN,NaN
3,3,403-9615377-8133951,04-30-22,Cancelled,Merchant,Amazon.in,Standard,Blazzer,L,On the Way,...,INR,753.33,PUDUCHERRY,PUDUCHERRY,605008.0,IN,False,Easy Ship,NaN,NaN
4,4,407-1069790-7240320,04-30-22,Shipped,Amazon,Amazon.in,Expedited,Trousers,3XL,Shipped,...,INR,574.00,CHENNAI,TAMIL NADU,600073.0,IN,False,NaN,NaN,NaN

In [6]:
# Data Cleaning: Check for missing values and data types
missing_values = df.isnull().sum()
data_types = df.dtypes

missing_values, data_types

(index                      0
 Order ID                   0
 Date                       0
 Status                     0
 Fulfilment                 0
 Sales Channel              0
 ship-service-level         0
 Category                   0
 Size                       0
 Courier Status             0
 Qty                        0
 currency                7800
 Amount                  7800
 ship-city                 35
 ship-state                35
 ship-postal-code          35
 ship-country              35
 B2B                        0
 fulfilled-by           89713
 New                   128976
 PendingS              128976
 dtype: int64,
 index                   int64
 Order ID               object
 Date                   object
 Status                 object
 Fulfilment             object
 Sales Channel          object
 ship-service-level     object
 Category               object
 Size                   object
 Courier Status         object
 Qty                     int64
 currency               object
 Amount                float64
 ship-city              object
 ship-state             object
 ship-postal-code      float64
 ship-country           object
 B2B                      bool
 fulfilled-by           object
 New                   float64
 PendingS              float64
 dtype: object)

In [7]:
# Drop irrelevant columns
df_cleaned = df.drop(columns=['New', 'PendingS'])

In [8]:
# Inspect the relationship between missing 'currency'/'Amount' and 'Status'
missing_amount_status = df_cleaned[df_cleaned['Amount'].isnull()]['Status'].value_counts()

In [9]:
# Drop rows with missing shipping details
df_cleaned = df_cleaned.dropna(subset=['ship-city', 'ship-state', 'ship-postal-code', 'ship-country'])

In [10]:
# Re-check missing values
missing_values_cleaned = df_cleaned.isnull().sum()

missing_amount_status, missing_values_cleaned

(Cancelled                       7571
 Shipped                          208
 Shipped - Delivered to Buyer       8
 Shipping                           8
 Shipped - Returned to Seller       3
 Pending                            2
 Name: Status, dtype: int64,
 index                     0
 Order ID                  0
 Date                      0
 Status                    0
 Fulfilment                0
 Sales Channel             0
 ship-service-level        0
 Category                  0
 Size                      0
 Courier Status            0
 Qty                       0
 currency               7798
 Amount                 7798
 ship-city                 0
 ship-state                0
 ship-postal-code          0
 ship-country              0
 B2B                       0
 fulfilled-by          89691
 dtype: int64)

In [11]:
# Remove 'Cancelled' orders
df_cleaned = df_cleaned[df_cleaned['Status'] != 'Cancelled']

# Re-check missing values after removing cancelled orders
missing_values_after_removal = df_cleaned.isnull().sum()

# Proceed with EDA: Generate summary statistics and initial visualizations
summary_statistics = df_cleaned.describe(include='all')

missing_values_after_removal, summary_statistics

(index                     0
 Order ID                  0
 Date                      0
 Status                    0
 Fulfilment                0
 Sales Channel             0
 ship-service-level        0
 Category                  0
 Size                      0
 Courier Status            0
 Qty                       0
 currency                229
 Amount                  229
 ship-city                 0
 ship-state                0
 ship-postal-code          0
 ship-country              0
 B2B                       0
 fulfilled-by          78220
 dtype: int64,
                 index             Order ID        Date   Status Fulfilment  \
 count   110614.000000               110614      110614   110614     110614
 unique            NaN               103041          91       12          2
 top               NaN  403-4984515-8861958  05-02-2022  Shipped     Amazon
 freq              NaN                   12        1761    77797      78220
 mean     64522.051250                  NaN         NaN      NaN        NaN
 std      37213.842602                  NaN         NaN      NaN        NaN
 min          1.000000                  NaN         NaN      NaN        NaN
 25%      32401.500000                  NaN         NaN      NaN        NaN
 50%      64421.500000                  NaN         NaN      NaN        NaN
 75%      96649.750000                  NaN         NaN      NaN        NaN
 max     128974.000000                  NaN         NaN      NaN        NaN

        Sales Channel ship-service-level Category    Size Courier Status  \
 count         110614             110614   110614  110614         110614
 unique             2                  2        9      11              4
 top        Amazon.in          Expedited  T-shirt       M        Shipped
 freq          110491              77185    42940   19039         109458
 mean             NaN                NaN      NaN     NaN            NaN
 std              NaN                NaN      NaN     NaN            NaN
 min              NaN                NaN      NaN     NaN            NaN
 25%              NaN                NaN      NaN     NaN            NaN
 50%              NaN                NaN      NaN     NaN            NaN
 75%              NaN                NaN      NaN     NaN            NaN
 max              NaN                NaN      NaN     NaN            NaN

                   Qty currency         Amount  ship-city   ship-state  \
 count   110614.000000   110385  110385.000000     110614       110614
 unique            NaN        1            NaN       8342           67
 top               NaN      INR            NaN  BENGALURU  MAHARASHTRA
 freq              NaN   110385            NaN       9900        19304
 mean         1.003146      NaN     649.129456        NaN          NaN
 std          0.100306      NaN     283.208991        NaN          NaN
 min          0.000000      NaN       0.000000        NaN          NaN
 25%          1.000000      NaN     449.000000        NaN          NaN
 50%          1.000000      NaN     606.000000        NaN          NaN
 75%          1.000000      NaN     788.000000        NaN          NaN
 max         15.000000      NaN    5584.000000        NaN          NaN

         ship-postal-code ship-country     B2B fulfilled-by
 count      110614.000000       110614  110614        32394
 unique               NaN            1       2            1
 top                  NaN           IN   False    Easy Ship
 freq                 NaN       110614  109815        32394
 mean       462717.179805          NaN     NaN          NaN
 std        191169.716842          NaN     NaN          NaN
 min        110001.000000          NaN     NaN          NaN
 25%        382407.500000          NaN     NaN          NaN
 50%        500029.000000          NaN     NaN          NaN
 75%        600016.000000          NaN     NaN          NaN
 max        855117.000000          NaN     NaN          NaN  )